<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-COMPATIBLE" content="IE-EmulateIE9">

<title>{{title}}</title>

<!-- Social Meta -->
<meta name="keywords" content="{{keywords}}">
<meta name="author" content="{{author}}" />
<meta name="copyright" content="{{copyright}}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#{{color_site}}">

<!-- Robots -->
<meta name="location" content="{{location}}">

<!-- Color Site -->
<meta name="msapplication-TileColor" content="#{{color_site}}">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{url_site}}">
<meta property="og:title" content="{{title}}">
<meta property="og:image" content="./img/share/{{share_image}}.jpg">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="{{site_name}}">
<meta property="og:locale" content="{{locale}}">

<!-- CSS -->
<link rel="stylesheet" href="./css/main.css">
