.issuesContent {
  &__time {
    @include paragraphSmall;
    padding-bottom: 5px;
    color: $middle-gray;
  }
}

.issues {
  margin-bottom: 6px;
  list-style: none;
}

.issue {
  @include paragraph;
  position: relative;
  padding: 9px 12px;
  border-radius: 5px;
  border: 1px solid $gray;
  color: $blue-black;
  background-color: $white;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    width: 17px;
    height: 17px;
    transform: translateY(-50%);
    background: url('../images/icons/star.svg') no-repeat center;
    transition: .2s ease;
    cursor: pointer;
  }

  &--selected {
    &:before {
      animation: clickScale 1.3s;
      background-image: url('../images/icons/star-selected.svg');
    }
  }
}

@keyframes clickScale {
  0% {
    transform: translateY(-50%) scale(1.5);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
