.macButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.macButton {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  padding: 0;

  &.exit {
    background-color: $mac-red;

    svg {
      fill: #4c1a17;
    }
  }

  &.swipe {
    background-color: $mac-yellow;

    svg {
      fill: #4c3808;
    }
  }

  &.full {
    background-color: $mac-green;

    svg {
      fill: #003d15;
    }
  }

  &:not(:last-child) {
    margin-right: 11px;
  }

  svg {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    opacity: 0;
    transition: .2s ease;
  }
}
