.tabsNav {
  list-style: none;
}

.tabNav {
  @include paragraphMedium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px 15px;
  background-color: transparent;
  transition: .2s ease;
  cursor: pointer;

  &__name {
    display: flex;
    color: $white;

    &:before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 9px;
      background: no-repeat center;
    }
  }

  &__counter {
    color: $middle-gray;
    letter-spacing: -1px;
  }

  &:hover,
  &--selected {
    background: $purple;
  }

  &.all {
    .tabNav__name {
      &:before {
        background-image: url('../images/icons/gitHub.svg');
      }
    }
  }

  &.open {
    .tabNav__name {
      &:before {
        background-image: url('../images/icons/information.svg');
      }
    }
  }

  &.closed {
    .tabNav__name {
      &:before {
        background-image: url('../images/icons/accepted.svg');
      }
    }
  }
}
