<div class="issuesContent">
    {{#each issues}}
        <p class="issuesContent__time">{{time}}</p>
        <ul class="issues">
            {{#each issue}}
                {{> issue}}
            {{/each}}
        </ul>
    {{/each}}
</div>
