<div class="macButtons">
    <button class="macButton exit">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 23.331 23.331" style="enable-background:new 0 0 23.331 23.331;" xml:space="preserve">
            <g>
                <path d="M16.043,11.667L22.609,5.1c0.963-0.963,0.963-2.539,0-3.502l-0.875-0.875
                    c-0.963-0.964-2.539-0.964-3.502,0L11.666,7.29L5.099,0.723c-0.962-0.963-2.538-0.963-3.501,0L0.722,1.598
                    c-0.962,0.963-0.962,2.539,0,3.502l6.566,6.566l-6.566,6.567c-0.962,0.963-0.962,2.539,0,3.501l0.876,0.875
                    c0.963,0.963,2.539,0.963,3.501,0l6.567-6.565l6.566,6.565c0.963,0.963,2.539,0.963,3.502,0l0.875-0.875
                    c0.963-0.963,0.963-2.539,0-3.501L16.043,11.667z"></path>
            </g>
        </svg>
    </button>
    <button class="macButton swipe">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.858 491.858" style="enable-background:new 0 0 491.858 491.858;" xml:space="preserve">
            <g>
                <g>
                    <path d="M465.167,211.613H240.21H26.69c-8.424,0-26.69,11.439-26.69,34.316s18.267,34.316,26.69,34.316h213.52h224.959
                        c8.421,0,26.689-11.439,26.689-34.316S473.59,211.613,465.167,211.613z"></path>
                </g>
            </g>
        </svg>
    </button>
    <button class="macButton full">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 447.308 447.308" style="enable-background:new 0 0 447.308 447.308;" xml:space="preserve">
        <path d="M426.652,0H263.368c-8.364,0.03-15.892,5.053-19.082,12.731c-3.175,7.755-1.42,16.609,4.474,22.503l35.676,35.676
            L70.926,284.435L35.25,248.76c-5.909-5.909-14.779-7.649-22.503-4.475c-7.71,3.191-12.733,10.719-12.733,19.083l-0.014,163.3
            c0.014,11.404,9.251,20.64,20.64,20.64h163.313c8.366-0.014,15.893-5.036,19.083-12.716c3.191-7.74,1.421-16.609-4.473-22.518
            l-35.676-35.691l213.494-213.511l35.691,35.678c5.907,5.907,14.777,7.679,22.517,4.503c7.681-3.221,12.717-10.732,12.717-19.098
            v-163.3C447.307,9.252,438.072,0,426.652,0z"></path>
        </svg>
    </button>
</div>