<nav>
    <ul class="tabsNav">
        <li class="tabNav tabNav--selected all">
            <p class="tabNav__name">
                All
            </p>
            <span class="tabNav__counter">
                12
            </span>
        </li>
        <li class="tabNav open">
            <p class="tabNav__name">
                Open
            </p>
            <span class="tabNav__counter">
                4
            </span>
        </li>
        <li class="tabNav closed">
            <p class="tabNav__name">
                Closed
            </p>
            <span class="tabNav__counter">
                8
            </span>
        </li>
    </ul>
</nav>