.containerApp {
  width: 100%;
  height: 100vh;
  background: url('../images/background.jpg') no-repeat center;

  &--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.app {
  display: flex;
  width: 650px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
}

.nav {
  position: relative;
  width: 23%;
  overflow: hidden;

  &:before {
    background-color: rgba(16, 16, 34, .9);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.macAppBar {
  width: 100%;
  padding: 16px 0 14px 14px;
  background-color: #101022;
}

.issuesListing {
  width: 77%;
  height: 100%;
  max-height: 500px;
  background: $light-gray;
  overflow-y: scroll;

  &__wrapper {
    padding: 9px 20px 10px 15px;
  }
}
