<!DOCTYPE html>
<html lang="en_EN">
<head>
    {{> meta
        title="Dzianis Makeichyk"
        url_site=""
        author="Dzianis Makeichyk"
        site_name="Dzianis Makeichyk"
        keywords="Dzianis Makeichyk"
        copyright="Dzianis Makeichyk"
        description="Dzianis Makeichyk"
        color_site="fff"
    }}
</head>
<body>
    <main class="containerApp">
        <div class="containerApp--center">
            <div class="app">
                <div class="nav">
                    <div class="macAppBar">
                        {{> mac-buttons}}
                    </div>
                    <div class="repoNav">
                        {{> tabs-nav}}
                    </div>
                </div>
                <div class="issuesListing">
                    <div class="issuesListing__wrapper">
                        {{> issues}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> scripts}}
</body>
</html>
