html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

img,
object,
embed {
  max-width: 100%;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

blockquote, q {
  quotes: none;
}

blockquote,
q {
  &:before,
  &:after {
    content: '';
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family:  $base-font;
  margin:       0;
}

::selection {
  color:        $selection-color;
  background:   $selection-background;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

textarea:focus,
input:focus {
  outline: 0;
}

select:focus,
textarea:focus,
input:focus {
  outline: 0;
  box-shadow: none;
}

input,
select {
  border: 0;
  width: 100%;
  background: transparent;
}

section {
  box-sizing: border-box;
}
