@mixin paragraphSmall() {
  font-size: 12px;
  line-height: 16px;
}

@mixin paragraphMedium() {
  font-size: 14px;
  line-height: 19px;
}

@mixin paragraph() {
  font-size: 15px;
  line-height: 21px;
}
