/* Colors */
$white:                  #fff;
$light-gray:             #f6f6f6;
$gray:                   #e0e0e0;
$middle-gray:            #8a8995;

$purple:                 #292a48;
$purple-dark:            #21233d;
$blue-dark:              #101022;
$blue-black:             #080606;
$black:                  #000;

$mac-red:             #ff594f;
$mac-yellow:          #ffbc1b;
$mac-green:           #00cd46;

//Class Weight

/* Base */
$base-font:               'Roboto', sans-serif;
$selection-color:         $black;
$selection-background:    $white;
